{% extends 'base.html' %}
{% block content %}
<center>
    <h3>I dont know how to convert my pdf page to audio ?</h3>
    <p>First you need to have an account, and a form will appear at the right side of the home page to interact with.</p>
    <hr>
    <h3>I get pdf is not convertable error message what should i do ?</h3>
    <p>In order for the system to convert your pdf page. you need to make sure first that it doesn't has any images and the file you uploaded ends with .pdf</p>
    <hr>

</center>
{% endblock %}