{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}

<div class="row">
    <div class="columns small-2 large-4"></div>
    <div class="columns small-4 large-4">
        <h1>{% trans "Sign Up Closed" %}</h1>

        <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
    </div>
    <div class="columns small-6 large-4"><img src="https://lh3.googleusercontent.com/-KTN5YH5k7X8r_XEghkihALEpPtcZS8nC9lZMUbzCZq5BK65StF_CsgIw8rkaNDWdUn1" alt=""></div>
</div>
{% endblock %}
